:root{
	--dark-color: #293241;
	--primary-color: #3d5a80;
	--secondary-color:  #ee6c4d;
	--light-color:  #e0fbfc;
	--info-color: #98c1d9;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  	font-family: 'San Francisco Regular';
}
/* fonts class */
.Sans-Light{
	font-family: 'San Francisco Light', sans-serif !important;
}
.Sans{
	font-family: 'San Francisco Regular', sans-serif !important;
}
.Sans-Medium{
	font-family: 'San Francisco Medium', sans-serif !important;
}
.Sans-Heavy{
	font-family: 'San Francisco Heavy', sans-serif !important;
}
.Sans-Semibold{
	font-family: 'San Francisco Semibold', sans-serif !important;
}
.Sans-Bold{
	font-family: 'San Francisco Bold', sans-serif !important;
}
.Sans-Black{
	font-family: 'San Francisco Black', sans-serif !important;
}

/* css  */
a{
	text-decoration: none;
}
.topbar{
	border-bottom: 2px solid rgba(0,0,0,0.05) !important;
}
.topbar-social,.topbar-data{
	color: var(--primary-color);
	margin: 0 5px;
	font-size: 14px;
}
.topbar-social:hover,.topbar-data:hover{
	color: var(--dark-color);
	text-decoration: none;
}


header{
	height: auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.05);
}
header .custom-navbar a{ 
	color: var(--primary-color);
  	font-family: 'San Francisco Medium';
  	font-size: 16px;
  	transition: .3s;
}
header .custom-navbar a:hover,header .custom-navbar a.active{
	color: var(--secondary-color);
  	transition: .3s;
} 

.carousel-item img{
	filter: brightness(0.25);
}
.carousel-item .carousel-caption{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%,-50%);
}
.cw-btn{
	background-color: var(--secondary-color) !important;
	color: var(--light-color) !important;
	padding: 10px 14px !important;
	border: 2px solid var(--secondary-color) !important;
  	transition: .3s;
}
.cw-btn:hover{
	background-color: transparent !important;
	border: 2px solid var(--light-color) !important;
	color: var(--light-color) !important;
  	transition: .3s;
}

/* container */
.container .cw-head{
	z-index: 1;
}


.container .cw-head::before{
	background-color: var(--light-color);
	height: 35px;
	width: 50px;
	position: absolute;
	/*left: -4px;*/
	top: 15px;
	content: '';
	z-index: -1;
	border-bottom: 4px solid var(--info-color);
}

/* San Francisco fonts*/
@font-face {
  	font-family: 'San Francisco Black';
  	src: url(fonts/SF-Pro-Display-Black.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Heavy';
  	src: url(fonts/SF-Pro-Display-Heavy.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Bold';
  	src: url(fonts/SF-Pro-Display-Bold.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Semibold';
  	src: url(fonts/SF-Pro-Display-Semibold.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Medium';
  	src: url(fonts/SF-Pro-Text-Medium.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Regular';
  	src: url(fonts/SF-Pro-Text-Regular.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Light';
  	src: url(fonts/SF-Pro-Text-Light.otf) format('truetype');
}

@media only screen and (max-width: 1024px){
	.carousel-item img{
		height: 90vh;
		width: auto;
		object-fit: cover;
	}
	.carousel-item .carousel-caption{
		top: 45%;
		width: 70%;
	}	
}