:root{
	--dark-color: #00063A;
	--primary-color: #00689c;
	--secondary-color:  #BD3642;
	--light-color:  #F0EDFF;
	--info-color: #00C893;
	--muted-color:  #bababa;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  	font-family: 'San Francisco Regular';
  	scroll-behavior: smooth;
}
button:focus, a:focus{
	box-shadow: none !important;
}
/* fonts class */
.Sans-Light{
	font-family: 'San Francisco Light', sans-serif !important;
}
.Sans{
	font-family: 'San Francisco Regular', sans-serif !important;
}
.Sans-Medium{
	font-family: 'San Francisco Medium', sans-serif !important;
}
.Sans-Heavy{
	font-family: 'San Francisco Heavy', sans-serif !important;
}
.Sans-Semibold{
	font-family: 'San Francisco Semibold', sans-serif !important;
}
.Sans-Bold{
	font-family: 'San Francisco Bold', sans-serif !important;
}
.Sans-Black{
	font-family: 'San Francisco Black', sans-serif !important;
}

/* css  */
a{
	text-decoration: none;
}
.py-5{
	padding-top: 6rem !important;
	padding-bottom: 6rem !important;

}
.topbar{
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
	background-color: var(--secondary-color);
}
.topbar-social,.topbar-data{
	color: var(--light-color);
	margin: 0 5px;
	font-size: 14px;
}
.topbar-social:hover,.topbar-data:hover{
	color: var(--light-color);
	text-decoration: none;
}
#topbar #data{
	text-align: left !important;
}
#topbar #social{
	text-align: right !important;
}
header{
	height: auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.07);
	position: sticky;
	top: 0;
	z-index: 100;
	/*overflow: all;*/
}
header .custom-navbar a{ 
	color: var(--dark-color) !important;
  	font-family: 'San Francisco Medium';
  	font-size: 16px;
  	transition: .3s;
}
header .custom-navbar a:hover,header .custom-navbar a.active{
	color: var(--secondary-color) !important;
  	transition: .3s;
} 
header .custom-navbar .dropdown .dropdown-item:hover{
	background-color: transparent !important;
	/*color: var(--dark-color) !important;*/
}
.carousel-item img{
	filter: brightness(0.25);
}
.carousel-item .carousel-caption{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%,-50%);
}
/* --- text color --- */
.cw-dark{
	color: var(--dark-color);
}
.cw-light{
	color: var(--light-color);
}
.cw-primary{
	color: var(--primary-color);
}
.cw-secondary{
	color: var(--secondary-color);
}
.cw-info{
	color: var(--info-color);
}
.cw-muted{
	color: var(--muted-color);
}
/* --- background color --- */
.bg-cw-dark{
	background-color: var(--dark-color);
}
.bg-cw-light{
	background-color: var(--light-color);
}
.bg-cw-primary{
	background-color: var(--primary-color);
}
.bg-cw-secondary{
	background-color: var(--secondary-color);
}
.bg-cw-info{
	background-color: var(--info-color);
}
.bg-cw-muted{
	background-color: var(--muted-color);
}
/* --- hr --- */
.cw-hr{
	width: 33%;
	background-color: var(--info-color);
	height: 1px;
}
/* --- custom btn --- */
.cw-btn{
	background-color: var(--secondary-color) !important;
	color: var(--light-color) !important;
	padding: 8px 12px !important;
	border: 2px solid var(--secondary-color) !important;
  	transition: .3s;
  	border-radius: 6px !important;
}
.cw-btn:hover{
	background-color: transparent !important;
	border: 2px solid var(--light-color) !important;
	color: var(--light-color) !important;
  	transition: .3s;
}
.ot-cw-btn:hover{
	background-color: var(--primary-color) !important;
	color: white !important;
	border: 2px solid var(--primary-color) !important;
  	transition: .3s;
  	box-shadow: 0px 1px 5px var(--primary-color);
}
.ot-cw-btn{
	padding: 8px 12px !important;
	background-color: transparent !important;
	border: 2px solid var(--primary-color) !important;
	color: var(--primary-color) !important;
  	transition: .3s;
  	border-radius: 6px !important;
}

/* cw */
.cw .cw-head{
	z-index: 1;
}
/* --- heading ---- */
.cw .cw-head::before{
	background-color: var(--light-color);
	height: 35px;
	width: 50px;
	position: absolute;
	/*left: -4px;*/
	top: 15px;
	content: '';
	z-index: -1;
	border-bottom: 4px solid var(--info-color);
}
/* --- navbar --- */
#navbar a.navbar-brand img{
	filter: saturate(90%), sepia(50%);
}

/* ---- border ---- */
.cw-rounded{
	border-radius: .75em!important;
}
/* ----- service ----- */
.cw .row .cw-sr-text{
  	font-family: 'San Francisco SemiBold';
	margin: 0 !important;
	padding: 12px 0 !important;
	line-height: 1 !important;
}
#services .row:hover{
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1), 0px 0px 15px 1px rgba(0,0,0,0.05);
	background-color: var(--primary-color);
	color: var(--light-color);
}

.cw .cw-sr-row{
	margin: 12px 0;
}
.cw .row .cw-sr-num{
	font-family: 'San Francisco Heavy';
	margin: 0 !important;
	padding: 10px 0 !important;
	line-height: 1 !important;
	text-align: center;
	color: var(--light-color);

}
.cw .row .col-2{
	background-color: var(--dark-color);
	border-radius: .75em!important;
}

/* courses */
.cw .row .cw-cr-text{
  	font-family: 'San Francisco SemiBold';
	margin: 0 !important;
	padding: 10px 0 !important;
	line-height: 1.1 !important;
	font-size: 16px !important;
}
#courses .row{
	background-color: var(--light-color);
}
#courses .row:hover{
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1), 0px 0px 15px 1px rgba(0,0,0,0.05);
	background-color: var(--primary-color);
	color: var(--light-color);
}
.cw .cw-cr-row{
	margin: 10px 0;
}
.cw .row .cw-cr-num{
	font-family: 'San Francisco Heavy';
	margin: 0 !important;
	padding: 10px 0 !important;
	line-height: 1 !important;
	text-align: center;
	color: var(--light-color);
	font-size: 16px !important;
	line-height: 1.1 !important;
}
.cw .row .col-2{
	background-color: var(--dark-color);
	border-radius: .75em!important;
}
/* --- vision --- */
#vision.cw{
	background: url("../assets/img/vs-1.jpg");
	width: 100%;
	/*height: 80vh;*/
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}
#vision.cw:before{
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.6);
	opacity: 1;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	min-height: 100%;
}

/* --- contact --- */
#cn a.contact-social{
	color: var(--info-color) !important;
	font-size: 18px;
	margin: 0px 15px 0px 0px;
}
#cn a.contact-social:hover{
	color: var(--dark-color);
}
#cn #contactMsg, #footer #subMsg{
	display: none;
}
/* --- subscribe --- */
#footer input.cw-input{
	background: transparent !important;
	color: var(--muted-color);
	border-color:  var(--secondary-color);
	box-shadow: none !important;
	border-radius: 6px 0px 0px 6px;
}
#footer .alert, #cn .alert{
	border-radius: 16px !important;
}
#footer .cw-btn{
	border-radius: 0px 6px 6px 0px !important;
}
#footer .cw-btn:hover{
	background: #d45f44 !important;
	border-color: #d45f44 !important;
}
#footer a:hover{
	color: white;
	text-decoration: none;
}
/* San Francisco fonts*/
@font-face {
  	font-family: 'San Francisco Black';
  	src: url(fonts/SF-Pro-Display-Black.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Heavy';
  	src: url(fonts/SF-Pro-Display-Heavy.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Bold';
  	src: url(fonts/SF-Pro-Display-Bold.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Semibold';
  	src: url(fonts/SF-Pro-Display-Semibold.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Medium';
  	src: url(fonts/SF-Pro-Text-Medium.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Regular';
  	src: url(fonts/SF-Pro-Text-Regular.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Light';
  	src: url(fonts/SF-Pro-Text-Light.otf) format('truetype');
}

@media only screen and (max-width: 728px){
	#topbar #data{
		text-align: center !important;
	} 
	#topbar #social{
		margin-top: 20px;
		text-align: center !important;
	} 
	#topbar #data a{
		font-size: 12px;
	}
	.carousel-item img{
		height: 90vh;
		width: auto;
		object-fit: cover;
	}
	.carousel-item .carousel-caption{
		top: 45%;
		width: 70%;
	}
	.custom-navbar{
		text-align: center;
	}
	#abt .row > .col-md-6{
		margin: 20px 0;
	}
	#iso .row.px-5{
		padding: 0px !important;
	}
	#courses .row .col-10, #services .row .col-10{
		order: 1;
	}
	.cw-sr-row .col-md-5{
		margin: 10px 0px;
	}
	.cw-cr-row .col-md-5{
		margin: 8px;
	} 
	.cw .cw-sr-row, .cw .cw-cr-row {
    	margin: 0px 0;
    	text-align: left;
	}
	.cw-sr-row .col-md-5 h5, .cw-sr-row .col-md-5 h4, .cw-cr-row .col-md-5 h5, .cw-cr-row .col-md-5 h4 {
		font-size: 16px;
	}

	.cw-sr-row .col-md-5:nth-child(1), .cw-cr-row .col-md-5:nth-child(1){
		text-align: left;
	}
	/* footer-content  */
	#footer-content .col-md-6{
		text-align: center;
	}
}

/*XvL@vuJCzbO6YSKuwaPR*/
