:root{
	--dark-color: #002642;
	--primary-color: #0E6BA8;
	--secondary-color:  #de6666;
	--light-color:  #e9ebf0;
	--info-color: #43AA8B;
	--muted-color:  #adb5bd;
	--text-color: #666666;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  	font-family: 'San Francisco Regular';
  	scroll-behavior: smooth;
}
button:focus, a:focus{
	box-shadow: none !important;
}
a:hover{
	text-decoration: none !important;
}
/* fonts class */
.Sans-Light{
	font-family: 'San Francisco Light', sans-serif !important;
}
.Sans{
	font-family: 'San Francisco Regular', sans-serif !important;
}
.Sans-Medium{
	font-family: 'San Francisco Medium', sans-serif !important;
}
.Sans-Heavy{
	font-family: 'San Francisco Heavy', sans-serif !important;
}
.Sans-Semibold{
	font-family: 'San Francisco Semibold', sans-serif !important;
}
.Sans-Bold{
	font-family: 'San Francisco Bold', sans-serif !important;
}
.Sans-Black{
	font-family: 'San Francisco Black', sans-serif !important;
}

/* css  */
a{
	text-decoration: none;
}
.py-5{
	padding-top: 6rem !important;
	padding-bottom: 6rem !important;

}

.topbar{
	border-bottom: 1px solid rgba(0,0,0,0.15) !important;
	background-color: white;
}
.topbar-data{
	color: var(--dark-color);
	margin: 0 5px;
	font-size: 12px;
	font-family: "San Francisco Medium";
}
.topbar-social{
	color: var(--dark-color);
	margin: 0 5px;
	font-size: 16px;
	font-family: "San Francisco Medium";
}
.topbar-social:hover,.topbar-data:hover{
	color: var(--secondary-color);
	text-decoration: none;
}
#topbar #data{
	text-align: left !important;
}
#topbar #social{
	text-align: right !important;
}
header{
	height: auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	/*box-shadow: 0 0 10px 2px rgba(0,0,0,0.07);*/
	position: sticky;
	top: 0;
	z-index: 100;
	/*overflow: all;*/
}
header .custom-navbar a{ 
	color: var(--dark-color) !important;
  	font-family: 'San Francisco Medium';
  	font-size: 16px;
  	transition: .3s;
}
header .custom-navbar a:hover,header .custom-navbar a.active{
	color: var(--secondary-color) !important;
  	transition: .3s;
} 
header .custom-navbar .dropdown .dropdown-item:hover{
	background-color: transparent !important;
	/*color: var(--dark-color) !important;*/
}
.carousel-item img{
	filter: brightness(0.25);
}
.carousel-item .carousel-caption{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%,-50%);
}
/* --- text color --- */
.cw-dark{
	color: var(--dark-color);
}
.cw-light{
	color: var(--light-color);
}
.cw-primary{
	color: var(--primary-color);
}
.cw-secondary{
	color: var(--secondary-color);
}
.cw-info{
	color: var(--info-color);
}
.cw-muted{
	color: var(--muted-color);
}
/* --- background color --- */
.bg-cw-dark{
	background-color: var(--dark-color) !important;
}
.bg-cw-light{
	background-color: var(--light-color) !important;
}
.bg-cw-primary{
	background-color: var(--primary-color) !important;
}
.bg-cw-secondary{
	background-color: var(--secondary-color);
}
.bg-cw-info{
	background-color: var(--info-color);
}
.bg-cw-muted{
	background-color: var(--muted-color);
}
/* --- hr --- */
.cw-hr{
	width: 33%;
	background-color: var(--info-color);
	height: 1px;
}
/* --- custom btn --- */
.cw-btn{
	background-color: var(--secondary-color) !important;
	color: var(--light-color) !important;
	padding: 12px 16px !important;
	border: 2px solid var(--secondary-color) !important;
  	transition: .3s;
  	border-radius: 8px !important;
	font-family: 'San Francisco Semibold', sans-serif !important;
}
.cw-btn:hover{
	background-color: transparent !important;
	border: 2px solid var(--light-color) !important;
	color: var(--light-color) !important;
  	transition: .3s;
}
.ot-cw-btn:hover, .ot-cw-btn:focus, .ot-cw-btn:active{
	background-color: var(--primary-color) !important;
	color: white !important;
	border: 2px solid var(--primary-color) !important;
  	transition: .3s;
  	/*box-shadow: 0px 1px 5px var(--primary-color);*/
  	box-shadow: 0 0 0 2px white, 0 0 0 4px var(--primary-color) !important;
}
.ot-cw-btn{
	padding: 12px 16px !important;
	background-color: var(--primary-color) !important;
	border: 2px solid var(--primary-color) !important;
	color: var(--light-color) !important;
  	transition: .3s;
  	border-radius: 8px !important;
	font-family: 'San Francisco Semibold', sans-serif !important; 	
}

.cr-cw-btn{
	background-color: var(--primary-color) !important;
	color: var(--light-color) !important;
	padding: 8px 12px !important;
	border: 2px solid var(--primary-color) !important;
  	transition: .3s;
  	border-radius: 8px !important;
	font-family: 'San Francisco Semibold', sans-serif !important;
	font-size: 14px !important;
}
.cr-cw-btn:hover{
	background-color: transparent !important;
	border: 2px solid var(--light-color) !important;
	color: var(--light-color) !important;
  	transition: .3s;
}
/* cw */
.cw .cw-head{
	z-index: 1;
}
/* --- heading ---- */
.cw .cw-head::before{
	background-color: var(--light-color);
	height: 35px;
	width: 50px;
	position: absolute;
	/*left: -4px;*/
	top: 15px;
	content: '';
	z-index: -1;
	border-bottom: 4px solid var(--info-color);
}
/* --- navbar --- */
#navbar a.navbar-brand img{
	filter: saturate(90%), sepia(50%);
}

/* ---- border ---- */
.cw-rounded{
	border-radius: .75em!important;
}

/* courses */
.cw .row .cw-cr-text, .cw .row .cw-sr-text{
  	font-family: 'San Francisco Medium';
	margin: 0 !important;
	padding: 10px 0 !important;
	line-height: 1.1 !important;
	font-size: 16px !important;
}
#courses .row, #services .row{
	background-color: var(--light-color);
}
#courses .row:hover, #services .row:hover{
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1), 0px 0px 15px 1px rgba(0,0,0,0.05);
	background-color: var(--primary-color) !important;
	color: white !important;
}
.cw .cw-cr-row, .cw .cw-sr-row{
	margin: 10px 0;
}
.cw .row .cw-cr-num, .cw .row .cw-sr-num{
	font-family: 'San Francisco Heavy';
	margin: 0 !important;
	padding: 10px 0 !important;
	line-height: 1 !important;
	text-align: center;
	color: var(--light-color);
	font-size: 16px !important;
	line-height: 1.1 !important;
}
.cw .row .col-2{
	background-color: var(--dark-color);
	border-radius: .75em!important;
}
/* --- vision --- */
#vision.cw{
	background: url("../assets/img/vs-1.jpg");
	width: 100%;
	/*height: 80vh;*/
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}
#vision.cw:before{
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.6);
	opacity: 1;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	min-height: 100%;
}
/* --- faq --- */
#faq .card{
	margin: 10px 0px;
	border-radius: 8px !important;
	border: 2px solid var(--light-color) !important;
}

#faq .card .card-header{
	background-color: white;
	padding: 8px 12px !important;
}
#faq .card .card-header button{
	color: var(--dark-color);
	text-decoration: none;
	font-family: 'San Francisco Semibold', sans-serif !important;
}
#faq .card .card-header button:focus{
	color: var(--primary-color) !important;
}
#faq .card .card-body{
	font-family: 'San Francisco Regular', sans-serif !important;
	padding: 16px 24px;
}
/* --- contact --- */
#cn a.contact-social{
	color: var(--primary-color) !important;
	font-size: 18px;
	margin: 0px 15px 0px 0px;
}
#cn a.contact-social:hover{
	color: var(--dark-color) !important;
}
#cn #contactMsg, #footer #subMsg{
	display: none;
}
#cn input, #cn textarea{
	padding: 8px 12px;
	border-radius: 8px;
	min-height: 46px;
	border-width: 2px;
}
#cn input:focus, #cn textarea:focus{
	border-color: var(--primary-color) !important;
	border-width: 2px;
	box-shadow: none !important;
	color: var(--primary-color);
}
/* --- subscribe --- */
#footer input.cw-input{
	background: transparent !important;
	color: var(--muted-color);
	border-color:  var(--muted-color);
	box-shadow: none !important;
	border-radius: 8px 0px 0px 8px;
	padding: 12px 16px;
	height: 60px;
}
#footer input.cw-input:focus{
	box-shadow: 0px 0px 5px var(--light-color) !important;
}

#footer .alert, #cn .alert{
	border-radius: 16px !important;
}
#footer .cw-btn{
	border-radius: 0px 8px 8px 0px !important;
	padding: 12px 16px;
	background: var(--muted-color) !important;
	border-color: var(--muted-color) !important;
	color: var(--dark-color) !important;
	font-weight: bold;
	font-family: 'San Francisco Semibold', sans-serif !important;
}
#footer .cw-btn:hover{
	background: var(--light-color) !important;
	border-color: var(--light-color) !important;
	box-shadow: 0px 0px 6px var(--light-color);
}
#footer a:hover{
	color: white;
	text-decoration: none;
}
#footer #footer-links .ft-head{
	font-size: 20px;
	font-family: 'San Francisco Semibold', sans-serif !important;
	color: var(--light-color);
	margin-bottom: 14px;
}

#footer #footer-links a{
	font-family: 'San Francisco Regular', sans-serif !important;
	color: var(--muted-color);
	display: block;
	font-size: 14px;
	height: 24px;
}
#footer #footer-links a:hover{
	color: var(--light-color);
}

/* San Francisco fonts*/
@font-face {
  	font-family: 'San Francisco Black';
  	src: url(fonts/SF-Pro-Display-Black.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Heavy';
  	src: url(fonts/SF-Pro-Display-Heavy.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Bold';
  	src: url(fonts/SF-Pro-Display-Bold.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Semibold';
  	src: url(fonts/SF-Pro-Display-Semibold.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Medium';
  	src: url(fonts/SF-Pro-Text-Medium.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Regular';
  	src: url(fonts/SF-Pro-Text-Regular.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Light';
  	src: url(fonts/SF-Pro-Text-Light.otf) format('truetype');
}
@font-face {
  	font-family: 'San Francisco Ultralight';
  	src: url(fonts/SF-Pro-Display-Ultralight.otf) format('truetype');
}




/* =============================================================== */

/* ------------ Docs Page CSS --------------- */
/* --- Training Page CSS --- */

/* slider */
#trSlider{
	background-image: radial-gradient(circle, #070039, #0b0038, #0f0037, #110036, #140035);
	width: 100%;
	height: 350px;
}
#trSlider .slider-item .slider-caption{
	position: absolute;
	display: block;
	top: 40%;
	left: 20%;
	transform: translate(-20%,-40%);
	width: 70%;
}
#trSlider .slider-caption .slider-title{
	font-size: 42px;
	font-family: "San Francisco Heavy";
	color: white;
	line-height: 1.2;
}
#trSlider .slider-caption .slider-bd{
	font-size: 14px;
	font-family: "San Francisco Medium";
	color: var(--secondary-color);
	margin: 5px;
}
#trSlider .slider-caption .slider-pr{
	font-size: 16px;
	font-family: "San Francisco Regular";
	color: var(--light-color);
	margin-bottom: 20px;
}

#trSlider .slider-caption .slider-ln{
	font-size: 12px;
	font-family: "San Francisco Regular";
	color: var(--light-color);
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	border-radius: 8px;
	margin: 10px 8px 0px 0px;
	padding: 8px 12px;
	cursor: pointer;
	display: inline-block;
}
#trSlider .slider-caption .slider-ln:hover{
	background-color: rgba(255,255,255,0.1);
}
#trSlider .slider-caption .slider-ln i{
	margin-right: 4px;
}


#crsContent .tr-card.card{
	border: 1px solid rgba(0,0,0,0.1) !important;
	border-radius: 8px !important;
	margin: 20px 0;
}
#crsContent .tr-card.card .card-title{
	font-family: "San Francisco Bold";
	font-size: 20px;
	margin-bottom: 5px;
}
#crsContent .tr-card.card .card-subtitle{
	font-family: "San Francisco Bold";
	font-size: 16px;
	margin-bottom: 5px;
}

#crsContent .tr-card.card .card-text{
	font-family: "San Francisco Regular";
	font-size: 16px;
	margin-bottom: 10px;
	color: var(--text-color);
}
#crsContent .tr-card.card .card-text b{
	font-family: "San Francisco Semibold";
	color: var(--dark-color);

}

#crsContent .tr-card ul.checkmark{
	list-style: none;
}

#crsContent .tr-card ul.checkmark li:before{
	content: ' ✔ ';
}

#crsContent .tr-card .card-syll{
	/*background-color: var(--light-color);*/
	border-radius: 8px;
	padding: 12px 0;
}
#crsContent .tr-card .card-syll p{
	padding: 12px 16px;
	margin: 0;
	border: 1px solid rgba(0,0,0,0.1) !important;
	border-width: 1px 1px 0px 1px !important;
	cursor: pointer;
	background-color: rgba(0,0,0,0.01);
}
#crsContent .tr-card .card-syll p:before{
	content: ' ➥ ';
	margin-right: 5px;
}
#crsContent .tr-card .card-syll p:first-child{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#crsContent .tr-card .card-syll p:last-child{
	border-width: 1px 1px 1px 1px !important;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#crsContent .tr-card .card-syll p:hover{
	background-color: rgba(0,0,0,0.04);
}
@media only screen and (max-width: 728px){
	/*  order  */
	.order-1{
		order: 1;
	}
	.order-0{
		order: 0;
	}
	#topbar #data{
		text-align: center !important;
	} 
	#topbar #social{
		margin-top: 20px;
		text-align: center !important;
	} 
	#topbar #data a{
		font-size: 12px;
	}
	.carousel-item img{
		height: 90vh;
		width: auto;
		object-fit: cover;
	}
	.carousel-item .carousel-caption{
		top: 45%;
		width: 70%;
	}
	.custom-navbar{
		text-align: center;
	}
	#abt .row > .col-md-6{
		margin: 20px 0;
	}
	#iso .row.px-5{
		padding: 0px !important;
	}
	#courses .row .col-10, #services .row .col-10{
		order: 1;
	}
	.cw-sr-row .col-md-5{
		margin: 10px 0px;
	}
	.cw-cr-row .col-md-5{
		margin: 8px;
	} 
	.cw .cw-sr-row, .cw .cw-cr-row {
    	margin: 0px 0;
    	text-align: left;
	}
	.cw-sr-row .col-md-5 h5, .cw-sr-row .col-md-5 h4, .cw-cr-row .col-md-5 h5, .cw-cr-row .col-md-5 h4 {
		font-size: 16px;
	}

	.cw-sr-row .col-md-5:nth-child(1), .cw-cr-row .col-md-5:nth-child(1){
		text-align: left;
	}
	/* footer-content  */
	#footer-content .col-md-6{
		text-align: center;
	}


	/* ------------ Docs Page CSS --------------- */
	/* --- Training Page CSS --- */

	/* slider */
	#trSlider{
		height: 100vh;
	}
	#trSlider .slider-item .slider-caption{
		position: absolute;
		display: block;
		top: 70%;
		left: 20%;
		/*transform: translate(-20%,-60%);*/
		width: 90%;
		margin: 2% 3%;
	}
	#trSlider .slider-item .slider-caption .slider-title{
		font-size: 36px;
	}
	#trSlider .slider-caption .slider-pr{
		font-size: 14px;
	}

	#crsContent .col-sm-3{
		order: 0;
	}
	#crsContent .col-sm-9{
		order: 1;
	}
	#crsContent .text-right{
		display: none;
	}

	#crsContent .col-sm-9 .d-flex{
		display: block !important;
	}

}

/*XvL@vuJCzbO6YSKuwaPR*/